#requests_title 
{
	float:left;
	height:35px;
}

#requests_add_new 
{
	float:left;
	width:660px
}

.form_group
{
	float:left;
	padding:2px;
}

#requests_language_link 
{
	float:right;
	color:#FFFFFF 
}

#requests_snippet
{
	float:left;
	width:300px;
	height:20px
}

#requests_bar
{
	background-color:#4D7A97;
	color:#FFFFFF;
	width:100%;
	clear:right;
	overflow:hidden;
	font-size:14px;
	height:55px;
	
}

fieldset
{
	border:0;
}