<?xml version="1.0" encoding="UTF-8"?>
<configuration Scan="Time" ScanPeriod="5 minutes">
	
	<property name="LOG_DIR" value="c:\development\git\RequestForQuoteSpringMVCWeb" />
 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss}[%-5level]:%msg%n</Pattern>      
		</layout>
	</appender>
	
	 <appender name="CONTROLLERS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteSpringMVCWeb\logs\controllers.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>		
	</appender>

	 <appender name="REPOSITORIES_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteSpringMVCWeb\logs\repositories.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	 <appender name="SERVICES_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteSpringMVCWeb\logs\services.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	<appender name="DOMAINS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteSpringMVCWeb\logs\domains.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	<appender name="PRODUCTS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteSpringMVCWeb\logs\products.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	<appender name="SIMULATORS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteSpringMVCWeb\logs\simulators.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	<appender name="PRICES_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteSpringMVCWeb\logs\prices.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>	
	
	<logger name="com.leon.rfq.services.PriceServiceImpl" level="TRACE">
		<appender-ref ref="PRICES_LOG_FILE" />           
	</logger>	

	<logger name="com.leon.rfq.products.OptionRequestFactoryImpl" level="TRACE">
		<appender-ref ref="PRODUCTS_LOG_FILE" />           
	</logger>
			
	<logger name="com.leon.rfq.domains.UserDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.domains.UnderlyingDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.domains.GroupDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.domains.ClientDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.rfq.domains.HolidayDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.rfq.domains.BookDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.rfq.domains.OptionDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>

	<logger name="com.leon.rfq.domains.PriceDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.domains.RequestDetailImpl" level="TRACE">
		<appender-ref ref="DOMAINS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.controllers.UserControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.controllers.RequestControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.rfq.controllers.LoginControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.rfq.repositories.UserDaoImpl" level="TRACE">
		<appender-ref ref="REPOSITORIES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.repositories.ClientDaoImpl" level="TRACE">
		<appender-ref ref="REPOSITORIES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.repositories.BookDaoImpl" level="TRACE">
		<appender-ref ref="REPOSITORIES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.repositories.UnderlyingDaoImpl" level="TRACE">
		<appender-ref ref="REPOSITORIES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.repositories.RequestDaoImpl" level="TRACE">
		<appender-ref ref="REPOSITORIES_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.rfq.services.UnderlyingServiceImpl" level="TRACE">
		<appender-ref ref="SERVICES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.services.UserServiceImpl" level="TRACE">
		<appender-ref ref="SERVICES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.services.RequestServiceImpl" level="TRACE">
		<appender-ref ref="SERVICES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.services.BookServiceImpl" level="TRACE">
		<appender-ref ref="SERVICES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.services.ClientServiceImpl" level="TRACE">
		<appender-ref ref="SERVICES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.services.CalculationServiceImpl" level="TRACE">
		<appender-ref ref="SERVICES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.services.BankHolidayServiceImpl" level="TRACE">
		<appender-ref ref="SERVICES_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.simulators.PriceSimulatorImpl" level="TRACE">
		<appender-ref ref="SIMULATORS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.rfq.simulators.PriceGeneratorImpl" level="TRACE">
		<appender-ref ref="SIMULATORS_LOG_FILE" />           
	</logger>
	   
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>