<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.leon.rfq.mappers.BankHolidayMapper">
	
	<resultMap type="BankHolidayDetailImpl" id="BankHolidayResultSet">
		<id 	property="identifier" column="identifier"/>
		<result property="location" column="location" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
		<result property="bankHolidayDate" column="bankHolidayDate"/>
		<result property="isValid" column="isValid"/>
		<result property="lastUpdatedBy" column="lastUpdatedBy"/>
	</resultMap>
	
	<select id="getAllInLocation" parameterType="java.lang.String" resultMap="BankHolidayResultSet">
		SELECT identifier, location, bankHolidayDate, isValid, lastUpdatedBy 
		FROM holidays 
		WHERE location=#{location, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
	</select>
	
	<select id="getAll" resultMap="BankHolidayResultSet">
		SELECT identifier, location, bankHolidayDate, isValid, lastUpdatedBy 
		FROM holidays
	</select>	
	
	<select id="bankHolidayExists" parameterType="BankHolidayDetailImpl" resultType="BankHolidayDetailImpl">
		SELECT identifier, bankHolidayDate, isValid, lastUpdatedBy
		FROM holidays 
		WHERE location=#{location, typeHandler=org.apache.ibatis.type.EnumTypeHandler} 
		AND bankHolidayDate = #{bankHolidayDate} 
	</select>
	
	<update id="updateValidity" parameterType="BankHolidayDetailImpl">
		UPDATE holidays 
		SET isValid = #{isValid}, 
		lastUpdatedBy = #{lastUpdatedBy}, 
		lastUpdated = now() 
		WHERE location=#{location, typeHandler=org.apache.ibatis.type.EnumTypeHandler} 
		AND bankHolidayDate = #{bankHolidayDate}
	</update>	
	
	<insert id="insert" parameterType="BankHolidayDetailImpl" useGeneratedKeys="true" keyProperty="identifier" keyColumn="identifier">
		INSERT INTO holidays (bankHolidayDate, location,  isValid, lastUpdatedBy, lastUpdated)
		VALUES(#{bankHolidayDate}, #{location, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, 
		#{isValid}, #{lastUpdatedBy}, now() )
	</insert>
	
	<delete id="deleteByLocation" parameterType="java.lang.String">
		DELETE FROM holidays
		WHERE location = #{location, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM holidays
		WHERE identifier = #{identifier}
	</delete>			
			
</mapper>