<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.leon.rfq.mappers.ClientMapper">
	
	<resultMap type="ClientDetailImpl" id="ClientResultSet">
		<id 	property="clientId" column="identifier"/>
		<result property="name" column="name"/>
		<result property="isValid" column="isValid"/>
		<result property="tier" column="tier" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<result property="lastUpdatedBy" column="lastUpdatedBy"/>
	</resultMap>
	
	<select id="get" parameterType="java.lang.String" resultType="ClientDetailImpl">
		SELECT identifier, name, tier, isValid
		FROM clients WHERE identifier=#{clientId}
	</select>
	
	<select id="bookExistsWithClientId" parameterType="java.lang.String" resultType="ClientDetailImpl">
		SELECT identifier, name, tier, isValid 
		FROM clients WHERE identifier=#{clientId}
	</select>
	
	<select id="getAll" resultMap="ClientResultSet">
		SELECT identifier, name, tier, isValid 
		FROM clients
	</select>
	
	<update id="updateValidity" parameterType="ClientDetailImpl">
		UPDATE clients 
		SET isValid = #{isValid}, lastUpdatedBy = #{lastUpdatedBy}, lastUpdated = now() 
		WHERE identifier = #{clientId} <!-- TODO was previously setting isValid to 'N' may be can use use IF statement-->
	</update>
	
	<update id="update" parameterType="ClientDetailImpl">
		UPDATE clients 
		SET name = #{name}, tier = #{tier typeHandler=org.apache.ibatis.type.EnumTypeHandler}, 
		isValid = #{isValid}, lastUpdatedBy = #{lastUpdatedBy}, lastUpdated = now() 
		WHERE identifier = #{clientId}
	</update>	
	
	<insert id="insert" parameterType="ClientDetailImpl" useGeneratedKeys="true" keyProperty="identifier">
		INSERT INTO clients (name, tier, isValid, lastUpdatedBy, lastUpdated)
		VALUES(#{name}, #{tier, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{isValid}, #{lastUpdatedBy}, now())
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM clients
		WHERE identifier = #{clientId}
	</delete>		
			
</mapper>