<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.leon.rfq.mappers.RequestMapper">
	
	<resultMap type="RequestDetailImpl" id="RequestResultSet">
		<id 	property="identifier" column="identifier"/>
		<result property="request" column="request"/>
		<result property="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler" column="status"/>
		<result property="clientId" column="clientId"/>
		<result property="bookCode" column="bookCode"/>		
		<result property="lotSize" column="lotSize"/>
		<result property="isOTC" column="isOTC"/>
		<result property="notionalMillions" column="notionalMillions"/>
		<result property="notionalCurrency" column="notionalCurrency"/>
		<result property="notionalFXRate" column="notionalFXRate"/>
		<result property="contracts" column="contracts"/>
		<result property="multiplier" column="multiplier"/>
		<result property="quantity" column="quantity"/>
		<result property="dayCountConvention" column="dayCountConvention"/>
		<result property="premiumSettlementCurrency" column="premiumSettlementCurrency"/>
		<result property="premiumSettlementDate" column="premiumSettlementDate"/>
		<result property="premiumSettlementDaysOverride" column="premiumSettlementDaysOverride"/>
		<result property="premiumSettlementFXRate" column="premiumSettlementFXRate"/>
		<result property="salesCreditAmount" column="salesCreditAmount"/>
		<result property="salesCreditPercentage" column="salesCreditPercentage"/>
		<result property="salesCreditFXRate" column="salesCreditFXRate"/>
		<result property="salesCreditCurrency" column="salesCreditCurrency"/>
		<result property="salesComment" column="salesComment"/>
		<result property="traderComment" column="traderComment"/>
		<result property="clientComment" column="clientComment"/>
		<result property="premiumAmount" column="premiumAmount"/>
		<result property="premiumPercentage" column="premiumPercentage"/>
		<result property="impliedVol" column="impliedVol"/>		
		<result property="delta" column="delta"/>
		<result property="gamma" column="gamma"/>
		<result property="vega" column="vega"/>
		<result property="theta" column="theta"/>
		<result property="rho" column="rho"/>		
		<result property="deltaNotional" column="deltaNotional"/>
		<result property="gammaNotional" column="gammaNotional"/>
		<result property="vegaNotional" column="vegaNotional"/>
		<result property="thetaNotional" column="thetaNotional"/>
		<result property="rhoNotional" column="rhoNotional"/>
		<result property="deltaShares" column="deltaShares"/>
		<result property="gammaShares" column="gammaShares"/>
		<result property="vegaShares" column="vegaShares"/>
		<result property="thetaShares" column="thetaShares"/>
		<result property="rhoShares" column="rhoShares"/>
		<result property="totalPremium" column="totalPremium"/>
		<result property="hedgePrice" column="hedgePrice"/>
		<result property="hedgeType" typeHandler="org.apache.ibatis.type.EnumTypeHandler" column="hedgeType"/>
		<result property="askFinalAmount" column="askFinalAmount"/>
		<result property="askFinalPercentage" column="askFinalPercentage"/>
		<result property="askImpliedVol" column="askImpliedVol"/>
		<result property="askPremiumAmount" column="askPremiumAmount"/>
		<result property="askPremiumPercentage" column="askPremiumPercentage"/>
		<result property="bidFinalAmount" column="bidFinalAmount"/>
		<result property="bidFinalPercentage" column="bidFinalPercentage"/>
		<result property="bidImpliedVol" column="bidImpliedVol"/>
		<result property="bidPremiumAmount" column="bidPremiumAmount"/>
		<result property="bidPremiumPercentage" column="bidPremiumPercentage"/>
		<result property="tradeDate" column="tradeDate"/>
		<result property="expiryDate" column="expiryDate"/>
		<result property="pickedUpBy" column="pickedUpBy"/>		
		<result property="lastUpdatedBy" column="lastUpdatedBy"/>
		<result property="savedBy" column="savedBy"/>
		<result property="lastUpdate" column="lastUpdate"/>
		<result property="timeValue" column="timeValue"/>
		<result property="intrinsicValue" column="intrinsicValue"/>
		<result property="lambda" column="lambda"/>
		<result property="underlyingRIC" column="underlyingRIC"/>
		<result property="underlyingPrice" column="underlyingPrice"/>
	</resultMap>
		
 	<insert id="insert" parameterType="RequestDetailImpl" useGeneratedKeys="true" keyProperty="identifier" >
		INSERT INTO requestforquotemain 
		(
		request, 
		status, 
		clientId, 
		bookCode,		
    	lotSize, 
    	isOTC,    	  
    	notionalMillions, 
    	notionalCurrency, 
    	notionalFXRate, 
    	contracts, 
    	multiplier, 
    	quantity,  
    	dayCountConvention,
    	premiumSettlementCurrency, 
    	premiumSettlementDate, 
    	premiumSettlementDaysOverride, 
    	premiumSettlementFXRate, 
    	salesCreditAmount, 
    	salesCreditPercentage, 
    	salesCreditFXRate, 
    	salesCreditCurrency, 
    	salesComment, 
    	traderComment, 
    	clientComment, 
    	premiumAmount, 
    	premiumPercentage, 
    	impliedVol, 
    	delta, 
    	gamma, 
    	vega, 
    	theta, 
    	rho, 
	    deltaNotional, 
	    gammaNotional, 
	    vegaNotional, 
	    thetaNotional, 
	    rhoNotional, 
	    deltaShares, 
	    gammaShares, 
	    vegaShares, 
	    thetaShares, 
	    rhoShares, 
    	totalPremium, 
    	hedgePrice, 
    	hedgeType, 
    	askFinalAmount, 
    	askFinalPercentage, 
    	askImpliedVol, 
    	askPremiumAmount, 
    	askPremiumPercentage, 
	    bidFinalAmount, 
	    bidFinalPercentage, 
	    bidImpliedVol, 
	    bidPremiumAmount, 
	    bidPremiumPercentage,				
		tradeDate,
		expiryDate, 
		pickedUpBy,
		timeValue,
		intrinsicValue,
		lambda,
		underlyingRIC,
		underlyingPrice,
		savedBy,
		lastUpdate,
		lastUpdatedBy)
		
		VALUES(
		#{request}, 
		#{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
		#{clientId}, 
		#{bookCode},		
		#{lotSize},
		#{isOTC},
		#{notionalMillions},
		#{notionalCurrency},
		#{notionalFXRate},
		#{contracts},
		#{multiplier},
		#{quantity},
		#{dayCountConvention},
		#{premiumSettlementCurrency},
		#{premiumSettlementDate},
		#{premiumSettlementDaysOverride},
		#{premiumSettlementFXRate},
		#{salesCreditAmount},
		#{salesCreditPercentage},
		#{salesCreditFXRate},
		#{salesCreditCurrency},
		#{salesComment},
		#{traderComment},
		#{clientComment},
		#{premiumAmount},
		#{premiumPercentage},
		#{impliedVol},
		#{delta},
		#{gamma},
		#{vega},
		#{theta},
		#{rho},
		#{deltaNotional},
		#{gammaNotional},
		#{vegaNotional},
		#{thetaNotional},
		#{rhoNotional},
		#{deltaShares},
		#{gammaShares},
		#{vegaShares},
		#{thetaShares},
		#{rhoShares},
		#{totalPremium},
		#{hedgePrice},
		#{hedgeType, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
		#{askFinalAmount},
		#{askFinalPercentage},
		#{askImpliedVol},
		#{askPremiumAmount},
		#{askPremiumPercentage},
		#{bidFinalAmount},
		#{bidFinalPercentage},
		#{bidImpliedVol},
		#{bidPremiumAmount},
		#{bidPremiumPercentage},																		
		#{tradeDate},
		#{expiryDate},		 
		#{pickedUpBy},
		#{timeValue},
		#{intrinsicValue},
		#{lambda},
		#{underlyingRIC},
		#{underlyingPrice},
		#{savedBy},
		now(),
		#{savedBy})
	</insert>
	
	<select id="get" parameterType="java.lang.Integer" resultType="RequestDetailImpl">
		SELECT * FROM requestforquotemain
		WHERE identifier=#{identifier}
	</select>
	
	<select id="requestExistsWithRequestId" parameterType="java.lang.Integer" resultType="RequestDetailImpl">
		SELECT * FROM requestforquotemain
		WHERE identifier=#{identifier}
	</select>
	
	<select id="getAll" resultMap="RequestResultSet">
		SELECT * 
		FROM requestforquotemain
		ORDER BY identifier DESC <!-- TODO only get today's trades -->
	</select>	
	
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM requestforquotemain
		WHERE identifier = #{identifier}
	</delete>		

	<update id="updateStatus" parameterType="RequestDetailImpl">
		UPDATE requestforquotemain
		SET status = #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
		<choose>
			<when test='status.name().equals("PICKED_UP")'>
				pickedUpBy = #{lastUpdatedBy},
			</when>
			<when test='status.name().equals("PENDING")'>
				pickedUpBy = NULL,
			</when>
		</choose>		
		lastUpdatedBy = #{lastUpdatedBy},
		lastUpdate = now()	
		WHERE identifier = #{identifier}
	</update>
	
	<select id="search" parameterType="java.util.Set" resultMap="RequestResultSet">
		SELECT *
		FROM requestforquotemain
       <where>
            <foreach item="criterion" collection="criteria"  open="" separator=" AND " close="">
            	<choose>
            		<when test="criterion.name == 'startTradeDate' and criterion.value != null and criterion.value != ''">
            		 	tradeDate &gt;= #{criterion.value}
            		</when>
            		<when test="criterion.name == 'endTradeDate' and criterion.value != null and criterion.value != ''">
            		 	tradeDate &lt;= #{criterion.value}
            		</when>
            		<when test="criterion.name == 'startMaturityDate' and criterion.value != null and criterion.value != ''">
            		 	expiryDate &gt;= #{criterion.value}
            		</when>
            		<when test="criterion.name == 'endMaturityDate' and criterion.value != null and criterion.value != ''">
            		 	expiryDate &lt;= #{criterion.value}
            		</when>            		
            		<otherwise>
            			${criterion.name} = #{criterion.value}
            		</otherwise>                	
                </choose> 
            </foreach>             
       </where>	
	</select>

	<update id="update" parameterType="RequestDetailImpl">
		UPDATE requestforquotemain
		SET clientId = #{clientId}, 
		bookCode = #{bookCode},		
		lotSize = #{lotSize},
		isOTC = #{isOTC},
		notionalMillions = #{notionalMillions},
		notionalCurrency = #{notionalCurrency},
		notionalFXRate = #{notionalFXRate},
		contracts = #{contracts},
		multiplier = #{multiplier},
		quantity = #{quantity},
		premiumSettlementCurrency = #{premiumSettlementCurrency},
		premiumSettlementDate = #{premiumSettlementDate},
		premiumSettlementDaysOverride = #{premiumSettlementDaysOverride},
		premiumSettlementFXRate = #{premiumSettlementFXRate},
		salesCreditAmount = #{salesCreditAmount},
		salesCreditPercentage = #{salesCreditPercentage},
		salesCreditFXRate = #{salesCreditFXRate},
		salesCreditCurrency = #{salesCreditCurrency},
		salesComment = #{salesComment},
		traderComment = #{traderComment},
		clientComment = #{clientComment},
		deltaNotional = #{deltaNotional},
		gammaNotional = #{gammaNotional},
		vegaNotional = #{vegaNotional},
		thetaNotional = #{thetaNotional},
		rhoNotional = #{rhoNotional},
		deltaShares = #{deltaShares},
		gammaShares = #{gammaShares},
		vegaShares = #{vegaShares},
		thetaShares = #{thetaShares},
		rhoShares = #{rhoShares},
		hedgePrice = #{hedgePrice},
		hedgeType = #{hedgeType, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
		askFinalAmount = #{askFinalAmount},
		askFinalPercentage = #{askFinalPercentage},
		askImpliedVol = #{askImpliedVol},
		askPremiumAmount = #{askPremiumAmount},
		askPremiumPercentage = #{askPremiumPercentage},
		bidFinalAmount = #{bidFinalAmount},
		bidFinalPercentage = #{bidFinalPercentage},
		bidImpliedVol = #{bidImpliedVol},
		bidPremiumAmount = #{bidPremiumAmount},
		bidPremiumPercentage = #{bidPremiumPercentage},																			 
		pickedUpBy = #{pickedUpBy},
		lastUpdatedBy = #{lastUpdatedBy},
		lastUpdate = now()		
		WHERE identifier = #{identifier}
	</update>
			
</mapper>