<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.leon.rfq.mappers.UnderlyingMapper">
	
	<resultMap type="UnderlyingDetailImpl" id="UnderlyingResultSet">
		<id 	property="ric" column="ric"/>
		<result property="description" column="description"/>
		<result property="isValid" column="isValid"/>
		<result property="referencePrice" column="referencePrice"/>
		<result property="simulationPriceVariance" column="simulationPriceVariance"/>
		<result property="spread" column="spread"/>
		<result property="dividendYield" column="dividendYield"/>
		<result property="lastUpdatedBy" column="lastUpdatedBy"/>
<!-- 		<result property="userId" column="userId"/>
		<result property="groupId" column="groupId"/> -->
	</resultMap>
	
	<select id="get" parameterType="java.lang.String" resultType="UnderlyingDetailImpl">
		SELECT * 
		FROM underlyings
		WHERE ric=#{ric}
	</select>
	
	<select id="getAll" resultMap="UnderlyingResultSet">
		SELECT * 
		FROM underlyings
	</select>
	
	<update id="update" parameterType="UnderlyingDetailImpl">
		UPDATE underlyings 
		SET description = #{description},
		referencePrice = #{referencePrice},
		simulationPriceVariance = #{simulationPriceVariance},
		spread = #{spread},
		dividendYield = #{dividendYield},
		isValid = #{isValid}, 
		lastUpdatedBy = #{lastUpdatedBy}, 
		lastUpdated = now() 
		WHERE ric = #{ric}
	</update>	
	
	<insert id="insert" parameterType="UnderlyingDetailImpl">
		INSERT INTO 
		underlyings (ric, description, referencePrice, simulationPriceVariance, spread, dividendYield, isValid, lastUpdatedBy, lastUpdated)
		VALUES(#{ric}, #{description}, #{referencePrice}, #{simulationPriceVariance}, #{spread}, #{dividendYield}, #{isValid}, #{lastUpdatedBy}, now() )
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE 
		FROM underlyings
		WHERE ric = #{ric}
	</delete>
	
	<select id="underlyingExistsWithRic" parameterType="java.lang.String" resultType="UnderlyingDetailImpl">
		SELECT * 
		FROM underlyings 
		WHERE ric=#{ric}
	</select>
			
</mapper>