<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.leon.rfq.mappers.UserMapper">
	
	<resultMap type="UserDetailImpl" id="UserResultSet">
		<id 	property="userId" column="userId"/>
		<result property="emailAddress" column="emailAddress"/>
		<result property="firstName" column="firstName"/>
		<result property="lastName" column="lastName"/>
		<result property="groupName" column="groupName"/>
		<result property="locationName" column="locationName"/>
		<result property="lastUpdatedBy" column="lastUpdatedBy"/>
		<result property="isValid" column="isValid"/>
	</resultMap>
	
	<select id="get" parameterType="java.lang.String" resultType="UserDetailImpl">
		SELECT * FROM users WHERE userId=#{userId}
	</select>
	
	<select id="userExistsWithEmailAddress" parameterType="java.lang.String" resultType="UserDetailImpl">
		SELECT * users WHERE emailAddress=#{emailAddress}
	</select>
	
	<select id="userExistsWithUserId" parameterType="java.lang.String" resultType="UserDetailImpl">
		SELECT * FROM users WHERE userId=#{userId}
	</select>
	
	<select id="getAll" resultMap="UserResultSet">
		SELECT * FROM users
	</select>
	
	<update id="updateValidity" parameterType="UserDetailImpl">
		UPDATE users SET isValid = 'N', lastUpdatedBy = #{lastUpdatedBy}, lastUpdated = now() WHERE userId = #{userId} <!-- TODO use IF statement-->
	</update>
	
	<update id="update" parameterType="UserDetailImpl">
		UPDATE users SET emailAddress = #{emailAddress}, firstName = #{firstName}, lastName= #{lastName}, 
		groupName = #{groupName}, locationName = #{locationName}, isValid = #{isValid}, lastUpdatedBy = #{lastUpdatedBy}, 
		lastUpdated = now() WHERE userId = #{userId}
	</update>	
	
	<insert id="insert" parameterType="UserDetailImpl">
		INSERT INTO users (userId, emailAddress, firstName, lastName, groupName, locationName, isValid, lastUpdatedBy, lastUpdated)
		VALUES(#{userId}, #{emailAddress}, #{firstName}, #{lastName}, #{groupName}, #{locationName}, #{isValid}, #{lastUpdatedBy}, now() )
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM users
		WHERE userId = #{userId}
	</delete>		
			
</mapper>