#chatroomContextMenu
{
	display:none;
	position:absolute;
}

#chatroom-right-pane
{
	background-color:#E8C0AF;
}

#chatroom-rooms-pane
{
	background-color:olive;
}

#chatroom-all-panes
{
	width:100%;
	height:100%;
    margin: 0px;
    padding: 0px;	
}

#new-chatroom-message
{
	width:100%;
	height:100%;
	margin: 0px;
    padding: 0px;
    background-color:#97FFAF;
}