.ui-tabs.ui-widget-content 
{
	background : transparent;
	border : none;
}

.ui-tabs .ui-tabs-panel
{
	background : olive;
}

.ui-tabs .ui-tabs-nav li a:hover 
{
	background: olive;	
	color: white;
	border: 1px solid white;
}