#requests_title 
{
	float:left;
	height:35px;
}

#requests_add_new 
{
	float:left;
	width:1120px
}

#requests_language_link 
{
	float:right;
	color:#FFFFFF 
}

#requests_snippet
{
	float:left;
	width:300px;
	height:20px;
	padding:2px;
	border:1px;
	margin:3px;	
}

#requests_client
{
	float:left;
	width:200px;
	height:20px;
	padding:2px;
	border:1px;
	margin:3px;
}

#requests_bookCode
{
	float:left;
	width:200px;
	height:20px;
	padding:2px;
	border:1px;
	margin:3px;
}

.btn
{
	float:left;
	height:22px;
	font-weight:normal;
}

#requests_bar
{
	width:100%;
	clear:right;
	overflow:hidden;
	font-size:14px;
	height:35px;
}

.gridColumn
{
	font-size:14px;
	background-color:rgb(59, 170, 227);
	color::rgb(0, 170, 0);
}

fieldset
{
	border:0;
}

.cell-title 
{
	font-weight: bold;
}

.contextMenu 
{
	background: rgb(215,215,215);
	border: 1px solid gray;
	padding: 2px;
	display: inline-block;
	min-width: 100px;
	-moz-box-shadow: 2px 2px 2px silver;
	-webkit-box-shadow: 2px 2px 2px silver;
	z-index: 99999;
}
.contextMenu li 
{
	padding: 4px 4px 4px 14px;
	list-style: none;
	cursor: pointer;
	background: url("../slickGrid/images/arrow_right_peppermint.png") no-repeat center left;
}
.contextMenu li:hover
{
  	background-color: white;
}

.priceUpdateIncrease
{
	background: #e1efc7;
}

.priceUpdateDecrease
{
	background: pink;
}

.cellFlash 
{
	border: 1px solid black;
	background: olive;
}

.requests_configure_item
{
	margin: 30px, 30px, 30px , 30px
}

.cell-effort-driven
{
	text-align: center;
}

.slick-group-title[level='0']
{
	font-weight: bold;
}

.slick-top-panel
{
	background-color: rgb(215,215,215);
	padding: 10px;
	color: black;
}

.configureBtn
{
	color: black;
}

.loading-indicator 
{
	display: inline-block;
	padding: 12px;
	background: white;
	-opacity: 0.5;
	color: black;
	font-weight: bold;
	z-index: 9999;
	border: 1px solid olive;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 5px olive;
	-webkit-box-shadow: 0px 0px 5px olive;
	-text-shadow: 1px 1px 1px white;
}
    
.loading-indicator label
{
	padding-left: 20px;
	background: url('../slickGrid/images/ajax-loader-small.gif') no-repeat center left;
}

.filter_search_textBox
{
	width:200px;
	height:20px;
	border:1px;
}