#requests_title 
{
	float:left;
	height:35px;
}

#requests_add_new 
{
	float:left;
	width:960px
}

#requests_language_link 
{
	float:right;
	color:#FFFFFF 
}

#requests_snippet
{
	float:left;
	width:300px;
	height:20px;
	padding:2px;
	border:1px;
	margin:3px;	
}

#requests_client
{
	float:left;
	width:200px;
	height:20px;
	padding:2px;
	border:1px;
	margin:3px;
}

#requests_bookCode
{
	float:left;
	width:200px;
	height:20px;
	padding:2px;
	border:1px;
	margin:3px;
}

#requests_add_button
{
	float:left;
	height:22px;
	font-weight:normal;
}

#requests_clear_button
{
	float:left;
	height:22px;
	font-weight:normal;
}

#requests_bar
{
	width:100%;
	clear:right;
	overflow:hidden;
	font-size:14px;
	background-color:rgb(59, 170, 227);
	height:35px;
}

.gridColumn
{
	font-size:14px;
	background-color:rgb(59, 170, 227);
	color::rgb(0, 170, 0);
}

fieldset
{
	border:0;
}