.new-underlying-input-class
{
	margin-bottom:4px;	
}

#underlyingsContextMenu
{
	display:none;
	position:absolute;
}

input.import-btn-class
{
   	padding-top: 0px;
    padding-bottom: 1px;
	margin-top: -3px;
    height: 23px;
    font-size: inherit;    
}