.new-user-input-class
{
	margin-bottom:4px;	
}

#usersContextMenu
{
	display:none;
	position:absolute;
}

#new-user-group
{
	width:170px;
	height: 18px;
}

#new-user-location
{
	width:130px;
	height: 18px;	
}